<%= simple_form_for(@cliente, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cliente.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @cliente.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rut, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
	    <%= f.text_field :rut, :class => "form-control", :placeholder => "Ejemplo: '12.345.678-5'" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :direccion, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :direccion, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fono, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.number_field :fono, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
	    <%= f.submit :class => "btn btn-primary", :value => "Guardar" %>
    </div>
  </div>
<% end %>
