<div class="page-header">
  <%= link_to new_cliente_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Cliente
  <% end %>
  <h1>Listado clientes</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @clientes) do |cliente| %>
	      <td><%= cliente.nombre.humanize %></td>
	      <td><%= link_to "Editar", edit_cliente_path(cliente), class: "btn btn-primary btn-sm" %></td>
              <td><%= delete_link cliente_path(cliente) %></td>
      <% end %>
    </tbody>
  </table>
</div>
