<%= javascript_include_tag params[:controller] %>

<%= simple_form_for(@proyecto, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @proyecto.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo registrar este Proyecto porque se encontró <%= @proyecto.errors.count %>
	      <% if @proyecto.errors.count==1 %> 
		      <%= render text: "error" %>
	      <% else  %>
		      <%= render text: "errores" %>
	      <% end %>
      </h4>

      <ul>
      <% @proyecto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :cliente, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
	    <%= f.collection_select :cliente_id, Cliente.order(:nombre), :id,:nombre,{include_blank: true}, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "HH comtempladas", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.number_field :hh, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_inicio, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
	    <%= f.text_field :fecha_inicio, :id => "datepicker1", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Fecha fin estimada", :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
	    <%= f.text_field :fecha_fin, :id => "datepicker2", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :descripcion, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :descripcion, :class => "form-control" %>
    </div>
  </div>
  <div id="etapas">
	  <%= f.fields_for :etapas do |etapa| %>
		  <%= render 'etapa_fields', :f => etapa %>
	  <% end %>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
			  <%= link_to_add_association 'Agregar etapa', f, :etapas, :class => "btn btn-sm btn-success" %>
    </div>
  </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Guardar Proyecto" , :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
