<div class="page-header">
  <%= link_to proyectos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver 
  <% end %>
  <h1>Tareas del proyecto</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Desarrollador</th>
            <th>Nombre</th>
            <th>HH dedicadas</th>
            <th>Fecha</th>
	    <th>Acciones</th>
	    <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @proyecto.tareas) do |tarea| %>
            <td><%= tarea.user.usuario %></td>
            <td><%= tarea.nombre %></td>
            <td><%= tarea.hh %></td>
            <td><%= tarea.fecha_registro %></td>
	    <td><%= detalles_link tarea %></td>
      <% end %>
    </tbody>
  </table>
</div>


