<div class="page-header">
  <%= link_to new_proyecto_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Proyecto 
  <% end %>
  <h1>Listing proyectos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>HH</th>
            <th>Descripcion</th>
	    <th>Acciones</th>
	    <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @proyectos) do |proyecto| %>
            <td><%= proyecto.nombre %></td>
            <td><%= proyecto.hh %></td>
            <td><%= proyecto.descripcion %></td>
            <td><%= link_to 'Detalles', proyecto %></td>
        <td><%= link_to 'Anular', proyecto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
