<div class="page-header">
  <%= link_to proyectos_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver 
  <% end %>
  <h1>Detalles del proyecto</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @proyecto.nombre.humanize %></dd>

  <dt>Cliente:</dt>
  <dd><%= @proyecto.cliente.nombre.humanize %></dd>

  <dt>HH:</dt>
  <dd><%= @proyecto.hh %></dd>

  <dt>Fecha Inicio:</dt>
  <dd><%= @proyecto.fecha_inicio %></dd>

  <dt>Fecha Fin:</dt>
  <dd><%= @proyecto.fecha_fin %></dd>

  <dt>Estado:</dt>
  <dd><%= @proyecto.estado %></dd>
</dl>
