<div class="page-header">
  <%= link_to new_cccc_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cccc
  <% end %>
  <h1>Listing ccccs</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
            <th>Algo</th>
            <th>Hm</th>
            <th>Nacimiento</th>
            <th>Edad</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @ccccs) do |cccc| %>
            <td><%= cccc.nombre %></td>
            <td><%= cccc.algo %></td>
            <td><%= cccc.hm %></td>
            <td><%= cccc.nacimiento %></td>
            <td><%= cccc.edad %></td>
            <td><%= link_to 'Show', cccc %></td>
        <td><%= link_to 'Edit', edit_cccc_path(cccc) %></td>
        <td><%= link_to 'Destroy', cccc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
