<%= simple_form_for(@tarea, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tarea.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :proyecto, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
    <%= collection_select(:tarea, :proyecto_id, Proyecto.all, :id, :nombre, { },{:class => 'form-control'}) %>   
    </div>
  </div>
  <div class="form-group">
    <%= f.label :nombre, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :hh, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :hh, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :actividad, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :actividad, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha_registro, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.date_select :fecha_registro, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :observaciones, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :observaciones, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end  %>
