<%= simple_form_for @tarea do |f| %>
    <%= f.error_notification %>
  <div class="form-group">
	  <%= f.association :proyecto, label_method: :nombre, include_blank: false, collection: Proyecto.all(order: 'nombre') %>
  </div>
  <div class="form-group">
	  <%= f.input :nombre %>
  </div>
  <div class="form-group">
	  <%= f.input :hh %>
  </div>
  <div class="form-group">
	  <%= f.input :actividad %>
  </div>
  <div class="form-group">
	  <!--%= f.input :fecha_registro, :input_html => { data: {behaviour: "datepicker1"}}, :as => :string %-->
	  <%= f.input :fecha_registro %>
  </div>
  <div class="form-group">
	  <%= f.input :observaciones %>
  </div>
  <div class="form-group">
      <%= f.button :submit ,:class => "btn btn-primary" %>
  </div>
<% end  %>
