<%= form_for @tarea do |f| %>
	<div data-role="fieldcontain">
		<%= f.label :cliente %>
	  	<%= f.collection_select :cliente_id, @clientes, :id,:nombre,{include_blank: true} %>
        </div>
	<div data-role="fieldcontain">
		<%= f.label :proyecto %>
		<%= f.grouped_collection_select :proyecto_id , @clientes, :p_a, :nombre, :id, :nombre,{include_blank: true} %>
        </div>
	<div data-role="fieldcontain">
		<%= f.label :etapa %>
		<%= f.grouped_collection_select :etapa_id , Proyecto.order(:nombre), :etapas, :nombre, :id, :nombre,{include_blank: true} %>
        </div>
	<div data-role="fieldcontain">
		<%= f.label :lugar %>
		<%= f.grouped_collection_select :lugar_id, Cliente.order(:nombre), :lugares, :nombre, :id, :nombre,{include_blank: true} %>
        </div>
	<div data-role="fieldcontain">
		<%= f.label "Responsable Sistema" %>
		<%= f.grouped_collection_select(:responsable_sistema_id, Cliente.order(:nombre), :responsables, :nombre, :id, :nombre,{include_blank: true}) %>
        </div>
	<div data-role="fieldcontain">
		<%= f.label "Responsable Planta" %>
		<%= f.grouped_collection_select(:responsable_planta_id, Cliente.order(:nombre), :responsables, :nombre, :id, :nombre,{include_blank: true}) %>
        </div>
	<div data-role="fieldcontain">
		<%= f.label "Tipo de Tarea" %>
		<%= f.collection_select :tipo_tarea_id, TipoTarea.order(:nombre), :id,:nombre,{include_blank: true} %>
        </div>
	<div data-role="fieldcontain">
		<%= f.text_field :nombre, placeholder: "Nombre Tarea" %>
        </div>
	<div data-role="fieldcontain">
		<%= f.text_area :actividad, placeholder: "Actividad" %>
        </div>
        <div data-role="fieldcontain">
		<%= f.text_field :modulo, placeholder: "Modulo" %>
        </div>
        <div data-role="fieldcontain">
		<%= f.number_field :hh, placeholder: "HH" %>
        </div>
        <div data-role="controlgroup"">
		<%= f.date_select :fecha_registro %>
        </div>
	<%= submit_tag "Guardar" %>
<% end %>
