
<div class="page-header">
  <%= link_to new_tarea_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nueva Tarea
  <% end %>
  <h1>Listado de tareas</h1>
</div>

<%= form_tag tareas_path, method: 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Buscar", name: nil %>
		</p>
<% end %>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
	    <th><%= ordenable "nombre" %></th>
	    <th><%= ordenable "proyecto_id" %></th>
	    <th><%= ordenable "hh" %></th>
	    <th><%= ordenable "fecha_registro" %></th>
	    <th>Acciones</th>
	    <th></th>
	    <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @tareas) do |tarea| %>
            <td><%= tarea.nombre %></td>
            <td><%= tarea.proyecto.nombre %></td>
            <td><%= tarea.hh %></td>
            <td><%= tarea.fecha_registro %></td>
	    <td><%= link_to "Copiar", class: "btn btn-primary btn-sm" %> </td>
	    <td><%= detalles_link tarea %></td>
	    <td><%= delete_link tarea_path(tarea) %></td>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @tareas %>
