<div class="page-header">
  <%= link_to tareas_path, :class => 'btn btn-default', "data-no-turbolink" => true do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver 
  <% end %>
  <h1>Detalles de la tarea</h1>
</div>

<dl class="dl-horizontal">
  <dt>Nombre:</dt>
  <dd><%= @tarea.nombre.humanize %></dd>

  <% unless @tarea.proyecto %>
	  <dt></dt>
          <dd></dd>

	  <dt>Modulo:</dt>
	  <dd><%= @tarea.modulo.nombre.humanize %></dd>
  <% else %>
	  <dt>Proyecto:</dt>
	  <dd><%= @tarea.proyecto.nombre.humanize %></dd>

	  <dt></dt>
	  <dd></dd>
  <% end %>
  <dt>HH:</dt>
  <dd><%= @tarea.hh %></dd>

  <dt>Actividad:</dt>
  <dd><%= @tarea.actividad %></dd>

  <dt>Fecha Registro:</dt>
  <dd><%= @tarea.fecha_registro %></dd>

  <dt>Planta:</dt>
  <dd><%= @tarea.lugar.nombre.humanize %></dd>

  <dt>Responsable Planta:</dt>
  <dd><%= @tarea.responsable_planta_id %></dd>

  <dt>Responsable Sistema:</dt>
  <dd><%= @tarea.responsable_sistema_id %></dd>

  <dt>Observaciones:</dt>
  <dd><%= @tarea.observaciones %></dd>
</dl>
