<div class="page-header">
  <%= link_to tareas_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver 
  <% end %>
  <h1>Detalles de la tarea</h1>
</div>

<dl class="dl-horizontal">
  <dt>Proyecto:</dt>
  <dd><%= @tarea.proyecto.nombre.humanize %></dd>

  <dt>Nombre:</dt>
  <dd><%= @tarea.nombre %></dd>

  <dt>HH:</dt>
  <dd><%= @tarea.hh %></dd>

  <dt>Actividad:</dt>
  <dd><%= @tarea.actividad %></dd>

  <dt>Fecha Inicio:</dt>
  <dd><%= @tarea.fecha_registro %></dd>

  <dt>Observaciones:</dt>
  <dd><%= @tarea.observaciones %></dd>
</dl>
