<div class="page-header">
  <%= link_to tareas_path, :class => 'btn btn-default', "data-no-turbolink" => true do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver 
  <% end %>
  <h1>Detalles</h1>
</div>

<dl class="dl-horizontal">
  <dt>Cliente:</dt>
  <dd><%= @tarea.cliente.nombre.humanize %></dd>

  <dt>Proyecto:</dt>
  <dd><%= @tarea.proyecto.nombre.humanize %></dd>

  <% if @tarea.etapa %>
	  <dt>Etapa Proyecto:</dt>
	  <dd><%= @tarea.etapa.nombre.humanize %></dd>
  <% end %>

  <dt>Planta:</dt>
  <dd><%= @tarea.lugar.nombre.humanize %></dd>

  <dt>Responsable Sistema:</dt>
  <dd><%= Responsable.find(@tarea.responsable_sistema_id).nombre %></dd>

  <dt>Responsable Planta:</dt>
  <dd><%= Responsable.find(@tarea.responsable_planta_id).nombre %></dd>

  <dt>Tipo Tarea:</dt>
  <dd><%= @tarea.tipo_tarea.nombre.humanize %></dd>

  <dt>Nombre:</dt>
  <dd><%= @tarea.nombre.humanize %></dd>

  <dt>Actividad:</dt>
  <dd><%= @tarea.actividad %></dd>

  <dt>Modulo:</dt>
  <dd><%= @tarea.modulo %></dd>

  <dt>HH:</dt>
  <dd><%= @tarea.hh %></dd>

  <dt>Fecha Registro:</dt>
  <dd><%= @tarea.fecha_registro %></dd>

  <dt>Observaciones:</dt>
  <dd><%= @tarea.observaciones %></dd>
</dl>
