<%= simple_form_for([@cliente, @lugar], :html => { :class => "form-horizontal" }) do |f| %>
  <% if @lugar.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4>No se pudo registrar este Lugar porque se encontró <%= @lugar.errors.count %>
	      <% if @lugar.errors.count==1 %> 
		      <%= render text: "error" %>
	      <% else  %>
		      <%= render text: "errores" %>
	      <% end %>
      </h4>

      <ul>
      <% @lugar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :nombre, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :nombre, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :ciudad, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :ciudad, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :area, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :area, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :planta, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :planta, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
	    <%= f.submit :class => "btn btn-primary", :value => "Guardar Lugar" %>
    </div>
  </div>
<% end %>
