<div class="page-header">
  <%= link_to new_modulo_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Modulo
  <% end %>
  <h1>Listing modulos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Cliente</th>
            <th>Nombre</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @modulos) do |modulo| %>
            <td><%= modulo.cliente.nombre.humanize %></td>
            <td><%= modulo.nombre.humanize %></td>
	    <td><%= link_to "Editar", edit_modulo_path(modulo), class: "btn btn-primary btn-sm " %></td>
	    <td><%= detalles_link modulo %></td>
	    <td><%= delete_link modulo_path(modulo) %></td>
      <% end %>
    </tbody>
  </table>
</div>
