<%= content_tag :h3, "Reporte de Comparación Fechas de Registro vs Fechas de Creación Real de Tareas" %>
<br/>

<% @tareas_d.keys.sort.each do |desarrollador| %>
	<%= content_tag :h3, User.find(desarrollador).usuario.humanize %>

	<div class="table-responsive">
		
	<table class="table table-striped table-hover">
		<thead>
	<tr>
	<th>Actividad</th>
            <th>Fecha Creación</th>
            <th>Fecha Registro</th>
            <th>HH</th>
            <th>Proyecto</th>
	    <th>Acciones</th>
    </tr>
	</thead>
	<tbody>
	<% @tareas_d[desarrollador].each do |tarea| %>
		<tr>
			    <td><%= truncate(tarea.actividad, length: 30) %></td>
			    <td><%= l tarea.created_at, format: :short %></td>
			    <td><%= l tarea.fecha_registro, format: :short %></td>
		            <td><%= tarea.hh %></td>
                            <td><%= tarea.proyecto.nombre.humanize %></td>
		            <td><%= detalles_link tarea %></td>
		            </tr>

	<% end  %>
	</tbody>
	</table>
	</div>
<% end  %>
