<div class="page-header">
  <%= link_to clientes_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver
  <% end %>
  <%= link_to new_cliente_responsable_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo Responsable
  <% end %>
  <%= content_tag :h4, "Listado Personal" + " -> " + @cliente.nombre.humanize  %>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Nombre</th>
	    <th>Acciones</th>
            <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @responsables) do |responsable| %>
	      <td><%= responsable.nombre %></td>
	      <td><%= link_to 'Editar', edit_cliente_responsable_path(@cliente, responsable), class: "btn btn-primary btn-sm" %></td>
	      <td><%= delete_link cliente_responsable_path(@cliente, responsable) %></td>
      <% end %>
    </tbody>
  </table>
</div>
