<%= javascript_include_tag params[:controller] %>

<%= content_tag :h2, "Listado Tareas" %>
<%= content_tag :h4, "pd: Filtrar por mes, y cambiar extension de archivo a .xls" %>
<br/>
<table id="listado1" class="table table-striped table-hover">
    <thead>
      <tr>
            <th>Cliente</th>
            <th>Tarea</th>
            <th>Desarrollador</th>
            <th>Proyecto</th>
            <th>HH</th>
            <th>Fecha Registro</th>
      </tr>
    </thead>

    <tbody>
    <% @tareas_listado1.each do |tarea| %>
	    <tr>
            <td><%= tarea.cliente.nombre %></td>
            <td><%= truncate(tarea.actividad, length: 40) %></td>
            <td><%= tarea.user.usuario %></td>
	    <td><%= tarea.proyecto.nombre.humanize %></td>
            <td><%= tarea.hh %></td>
            <td><%= tarea.fecha_registro.strftime("%d %B %Y") %></td>
	    </tr>
      <% end %>
    </tbody>
  </table>

