<h1>Listing aers</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password digest</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @aers.each do |aer| %>
      <tr>
        <td><%= aer.email %></td>
        <td><%= aer.password_digest %></td>
        <td><%= link_to 'Show', aer %></td>
        <td><%= link_to 'Edit', edit_aer_path(aer) %></td>
        <td><%= link_to 'Destroy', aer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Aer', new_aer_path %>
