<!DOCTYPE html>
<html>
<head>
<title>MgapUser</title>
	<%= stylesheet_link_tag    "jquery.mobile-1.3.2" , media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  	<%= javascript_include_tag "jquery.mobile-1.3.2", "mobile" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
  <div data-role="page" <%= yield :page_html %>>
  <% if content_for?(:header) %>
	  <div data-role="header">
	  <%= yield :header %>
	  <% if current_user %>
			<%= link_to "Salir", session_path("current"), method: :delete %>
	  <% end %>
	  </div>  	
  <% end %>

    <div data-role="content">
		  <%= yield %>
    </div>
    <div data-role="footer">
        <h3>
            Citynet Ing. e Informatica.
        </h3>
    </div>
</div>





</body>
</html>
