<!DOCTYPE html>
<html>
<head>
<title>MgapUser</title>
<% if current_user %>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<% else %>
	<% unless mobile_device? %>
		<%= stylesheet_link_tag    "login", media: "all", "data-turbolinks-track" => true %>
	<% else %>
		<%= stylesheet_link_tag    "login-mobil", media: "all", "data-turbolinks-track" => true %>
	<% end %>
<% end %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class='<%= controller.controller_name %>'>

<% if current_user %>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<% if current_user %>
			<% unless current_user.has_role? :admin %>
				<%= link_to "Inicio", tareas_path, "data-no-turbolink" => true, class: "navbar-brand" %>
			<% else %>
				<%= link_to "Inicio", proyectos_path, class: "navbar-brand" %>
			<% end  %>
		<% end %>
	</div>

	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<% if current_user %>
				<% unless current_user.has_role? :admin %>
					<li><%= link_to "Tareas", tareas_path, "data-no-turbolink" => true %></li>
					<li><%= link_to "Clientes", clientes_path %></li>
				<% else %>
					<% if current_user.has_role? "Actualizar Tareas" %>
						<li><%= link_to "Tareas", tareas_path, "data-no-turbolink" => true %></li>
					<% end %>
				<%  end %>


				<% if current_user.has_role? :admin %>
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Proyectos<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Proyectos en Curso", proyectos_path %></li>
						<li><%= link_to "Proyectos Cerrados", proyectos_cerrados_path, "data-no-turbolink" => true  %></li>
					</ul>
					</li>

						<li><%= link_to "Listados", listados1_path, "data-no-turbolink" => true  %></li>

					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Registro vs Fecha Creacion", listados2_path  %></li>
					</ul>
					</li>

					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Graficos<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Segun Desarrollador", graficos1_path %></li>
						<li><%= link_to "Segun Proyecto", graficos2_path %></li>
					</ul>
					</li>

					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></span>  Administracion<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><%= link_to "Usuarios", users_path %></li>
						<li><%= link_to "Clientes", clientes_path %></li>
						<li><%= link_to "Tipos Tareas", tipo_tareas_path %></li>
					</ul>
					</li>
				<% end %>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
			    <%= link_to edit_user_path(current_user) do %>
				<span class="glyphicon glyphicon-user"></span>
			    <%= current_user.usuario.humanize %>
			<% end %>
			</li>
			<li>
			<%= link_to session_path("current"), method: :delete do %>
				<span class="glyphicon glyphicon-log-out"></span>
			<% end %>
			</li>
		</ul>

			<% else %>
		</ul>
		<ul class="nav navbar-nav navbar-right">

		</ul>
			<% end %>
		</div>
	</nav>
<% end %>

  <div class="container">
	  <% flash.each do |name, msg| %>
		  <% if msg.is_a?(String) %>
			  <div class="alert alert-<%= name == :notice ? "success" : "danger" %>">
				  <a class="close" data-dismiss="alert">&#215;</a>
				  <%= content_tag :div, msg, :id => "flash_#{name}" %>
			  </div>
		  <% end %>
	  <% end %>

		  <%= yield %>
  </div>




</body>
</html>
